<div class="media">
    <div class="phrase-thumbnail">
        {% with image_file = url_for('static',
                             filename='phrase_pictures/'+phrase.image_file) %}
        <a href="{{ url_for('main.phrase_map', phrase_id=phrase.id) }}">
            <img class="rounded phrase-img" src="{{ image_file }}">
        </a>
        {% endwith %}
    </div>
    <div class="phrase-content">
        <h2 class="account-heading">{{ phrase.body }}</h2>
        {% if phrase.transcription %}
        <p class="text-secondary">{{ phrase.transcription }}</p>
        {% endif %}
        {% if phrase.translation %}
        <p class="text-secondary">{{ phrase.translation }}</p>
        {% endif %}
    </div>
</div>
