
.phrase-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

div.phrase-thumbnail {
  position: absolute;
}

div.phrase-content {
  margin-left: 130px;
  min-height: 130px;
}

.search-narrow {
  width: 200px;
}

.search-button {
  margin-left: 205px;
  width: 70px;
}

.form-search {
  position: absolute;
}

.nav-low {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul.left-side {
  margin-left: 300px;
}

img.round {
  border-radius: 125px;
}

ul.comments {
  list-style-type: none;
  padding: 0px;
  margin: 16px 0px 0px 0px;
}

ul.comments li.comment {
  margin-left: 32px;
  padding: 8px;
  border-bottom: 1px solid #e0e0e0;
}

ul.comments li.comment:nth-child(1) {
  border-top: 1px solid #e0e0e0;
}

ul.comments li.comment:hover {
  background-color: #f0f0f0;
}

div.comment-date {
  float: right;
}

div.comment-author {
  font-weight: bold;
}

div.comment-thumbnail {
  position: absolute;
}

div.comment-content {
  margin-left: 48px;
  min-height: 48px;
}

div.comment-form {
  margin: 0px 0px 16px 32px;
}

.profile-thumbnail {
  position: absolute;
  height: 45px;
  width: 45px;
}


