{% extends "bootstrap/base.html" %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{{ moment.locale('ru') }}
{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="shortcut icon" type="image/png"
        href="{{ url_for('static', filename='fancy_words.png') }}">
    <link rel="icon" type="image/png"
        href="{{ url_for('static', filename='fancy_words.png') }}">
    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block title %}Fancy-words{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" 
                data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
            {% if form_search %}
            <form class='navbar-form navbar-left' method="POST" action="">
                {{ form_search.hidden_tag() }}
                <div class="input-group">
                    {{ form_search.search_field(
                        class="form-control", placeholder="Type here") }}
                    <div class="input-group-btn">
                        {{ form_search.submit(class="btn btn-default") }}
                    </div>
                </div>
            </form>
            {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                {% if current_user.is_authenticated %}
                    <li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" 
                            data-toggle="dropdown" role="button" 
                            aria-haspopup="true" aria-expanded="false">
                              {{ current_user.username }}
                              <span class="caret"></span>
                          </a>
                          <ul class="dropdown-menu">
                            <li><a href="{{ url_for('profile.account') }}">
                                Account</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ url_for('main.phrases') }}">
                                Words</a></li>
                            <li><a href="{{ url_for('main.wordlists',
                                user_id=current_user.id) }}">
                                Wordlists</a></li>
                            <li><a href="#">Comments</a></li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="{{ url_for('auth.logout') }}">
                                    Log Out
                                </a>
                            </li>
                          </ul>
                        </li>
                    </li>
                {% else %}
                    <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock navbar %}

{% block content %}
<div class="container">
    {% for category, message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ category }}">
            <button type="button" class="close" data-dismiss="alert">&times;
            </button>
            {{ message }}
        </div>
    {% endfor %}
    
    {% block page_content %}{% endblock %}
</div>
{% endblock content %}
