{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_pagination.html" as macros %}

{% block title %}FW - Wordlist{% endblock %}

{% block page_content %}
<a href="{{ url_for('main.wordlists', user_id=current_user.id) }}">
    <button>Wordlists</button></a>
<div class="media">
    <div class="media-body">
        <h2 class="account-heading">{{ wordlist.title }}</h2>
        {% if current_user == wordlist.author %}
        <a href="{{ url_for('main.add_update_wordlist', wl_id=wordlist.id) }}">
            <button>
            Edit
            </button>
        </a>
        {% endif %}
    </div>
</div>
<div>
    <h3>Phrases:</h3>
    {% for phrase in phrases %}
        <div>
            {% include '_card.html' %}
        </div>
    {% endfor %}
    {% if pagination and pagination.pages > 1 %}
        <div class="pagination">
            {% if form %}
                {% set word = form.search_field.data %}
            {% else %}
                {% set word = '' %}
            {% endif %}
            {{ macros.pagination_widget(pagination, 'main.wordlist',
                wl_id=wordlist.id, fill=fill, word=word,
                fragment='') }}
        </div>
    {% endif %}
    {% if current_user == wordlist.author %}
        {% if fill == "false" %}
            {% set new_fill = "true" %}
        {% else %}
            {% set new_fill = "false" %}
        {% endif %}
        <a href="{{ url_for('main.wordlist', wl_id=wordlist.id,
                            fill=new_fill) }}">
        <button>
        {% if fill == "true" %}
            Collapse
        {% else %}
            Add phrase
        {% endif %}
        </button></a>
    {% endif %}
    {% if current_user == wordlist.author and form %}
        <div>
            {{ wtf.quick_form(form) }}
        </div>
        <br>
        {% if found_phrases %}
            {% for phrase in found_phrases %}
                {% include '_card.html' %}
            {% endfor %}
        {% endif %}
        {% if current_user.is_authenticated %}
            {% if form.search_field.data %}
            <a href="{{ url_for('main.add_phrase',
                                word=form.search_field.data, next=next) }}">
                <button>Add phrase</button>
            </a>
            {% endif %}
        {% endif %}
    {% endif %}
</div>
<div class="author">
    {% if current_user != wordlist.author %}
    <h3>Author:</h3>
    <div class="media">
        <div class="media-left">
            <img class="round account-img" src="{{ image_file }}">
        </div>
        <div class="media-body">
            <h2 class="account-heading">{{ current_user.username }}</h2>
            <a href="{{ url_for('main.wordlists',
                user_id=wordlist.author.id) }}">
                <p class="text-secondary">Wordlists</p>
            </a>
        </div>
    </div>
    {% endif %}
</div>
{% endblock page_content %}
